<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>File Crow</title>
    <link href="/web/styles.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <h1>File Crow</h1>
      <section class="upload">
        <h2>Upload Files</h2>
        <form method="post" enctype="multipart/form-data" action="/upload">
          <label>
            <span>Select files to upload</span>
            <input type="file" name="file" multiple />
          </label>
          <button type="submit">Upload</button>
        </form>
        <article class="disk-usage">
          <div class="usage-indicator">
            <div style="--used-space:{{.Usage.Percentage}};"></div>
          </div>
          <p>
            <span>{{.Usage.Free}} free of {{.Usage.Total}} </span>
            <span> &#40;{{.Usage.Percentage}} used&#41;</span>
          </p>
        </article>
      </section>

      <section class="download">
        <h2>Download Files</h2>
        {{if gt (len .Files) 0}}
        <div class="delete-all">
          <form
            method="post"
            action="/delete"
            onsubmit="return confirm('Are you sure you want to delete all {{len .Files}} files?')"
          >
            <button type="submit" title="delete all files">
              <img src="/web/folder-remove.webp" alt="delete all files" />
            </button>
          </form>
        </div>
        <ul class="files">
          {{range .Files}}
          <li>
            <p>
              <span>{{.Name}}</span>
              <span>{{.Size}}</span>
            </p>
            <div>
              <a
                href="/files/{{.Temp}}"
                download="{{.Name}}"
                title="download file"
              >
                <img src="/web/download-file.webp" alt="download file" />
              </a>
              <form
                method="post"
                action="/delete/{{.Temp}}"
                onsubmit="return confirm('Are you sure you want to delete {{.Name}}?')"
              >
                <button type="submit" title="delete file">
                  <img src="/web/file-delete.webp" alt="delete file" />
                </button>
              </form>
            </div>
          </li>
          {{end}}
        </ul>
        {{else}}
        <p class="empty">There are no files available for download</p>
        {{end}}
      </section>
    </main>
  </body>
</html>
