* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: hsl(0 0% 98%);
  --background: hsl(0 0% 3.9%);
  --primary: hsl(0 0% 14.9%);
  --secondary: hsl(160 60% 32%);
  --accent: hsl(0 72.2% 50.6%);

  --radius: 6px;
  --glow-color: var(--text);
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: system-ui, sans-serif;
  min-height: 100vh;
}

main {
  max-width: 64rem;
  margin-inline: auto;
  padding: 0.5em;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin-block: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.upload {
  padding: 0.25em;

  form {
    padding: 0.5em;
    background-color: var(--primary);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    display: grid;
    gap: 1em;

    label {
      display: flex;
      gap: 0.5em;
      flex-wrap: wrap;

      input {
        max-width: 280px;
      }
    }

    button {
      background-color: var(--secondary);
      padding: 0.75em;
      color: var(--text);
      border-radius: var(--radius);
      max-width: 200px;
      width: 100%;
      margin-inline: auto;
      border: 1px solid transparent;
      transition: border-color 0.25s ease-in-out;

      --glow-color: hsl(from var(--secondary) h s 45%);

      &:hover,
      &:focus-visible {
        border-color: var(--glow-color);
        filter: drop-shadow(0 0 0.25em var(--glow-color));
      }
    }
  }
}

.disk-usage {
  padding: 1em 0.5em;
  background-color: var(--primary);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  display: grid;
  gap: 0.5em;

  p {
    margin-inline: auto;
    margin-top: 0.5em;
    display: flex;
    gap: 0.25em;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.usage-indicator {
  height: 12px;
  min-width: 280px;
  margin-inline: auto;
  width: 80%;
  border: 1px solid var(--text);
  box-shadow: 0 4px 6px hsla(from var(--text) h s l / 0.1);
  position: relative;
  overflow: hidden;
  border-radius: 999rem;
  background-color: var(--background);

  div {
    height: 100%;
    width: var(--used-space);
    background-color: var(--secondary);
  }
}

.download {
  margin-top: 1em;
  --icon-size: 32px;

  a,
  button {
    display: block;
    background-color: transparent;
    width: var(--icon-size);
    height: var(--icon-size);
    border: none;
  }

  a > img,
  button > img {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.delete-all {
  padding-inline: 0.75em;
  display: flex;
  justify-content: flex-end;
}

.files {
  list-style: none;
  padding: 1em 0.5em;

  li {
    padding: 0.5em;
    background-color: var(--primary);
    border-radius: var(--radius);
    display: grid;
    margin-bottom: 0.5em;
    gap: 0.25em;

    p {
      display: flex;
      justify-content: space-between;
      gap: 1em;

      span:nth-child(2) {
        white-space: nowrap;
        font-size: 0.9em;
      }
    }

    div {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
    }
  }
}

.empty {
  text-align: center;
}
